rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isImageOrVideo() {
      return request.resource != null
             && (request.resource.contentType.matches('image/.*')
                 || request.resource.contentType.matches('video/.*'));
    }
    function isUnderMaxSize() {
      return request.resource.size < 500 * 1024 * 1024; // 500MB
    }

    match /users/{uid}/{allPaths=**} {
      allow read, list: if signedIn() && request.auth.uid == uid;
      allow write: if signedIn()
                   && request.auth.uid == uid
                   && isImageOrVideo()
                   && isUnderMaxSize();
    }
  }
}